openapi: 3.2.0
info:
  title: Tensor Bids API
  version: '1.0'
  contact:
    name: Tensor Developer Hub
    url: https://dev.tensor.trade
  description: 'Operations tagged Bids across 2 of this provider''s published API definitions: tensor-api-openapi.yml, tensor-tx-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.mainnet.tensordev.io
  description: Mainnet REST API
security:
- ApiKeyAuth: []
tags:
- name: Bids
paths:
  /api/v1/bids/collection:
    get:
      tags:
      - Bids
      summary: Collection Bids
      operationId: getCollectionBids
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Collection-wide bids.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bid'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet REST API
  /api/v1/bids/single-nft:
    get:
      tags:
      - Bids
      summary: Single NFT Bids
      operationId: getSingleNftBids
      parameters:
      - name: mint
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bids targeting a single NFT mint.
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet REST API
  /api/v1/bids/trait:
    get:
      tags:
      - Bids
      summary: Trait Bids
      operationId: getTraitBids
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: trait
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bids filtered by trait value.
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet REST API
  /api/v1/tx/place-collection-bid:
    get:
      tags:
      - Bids
      summary: Build Place Collection Bid Transaction
      operationId: buildPlaceCollectionBidTx
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: bidder
        in: query
        required: true
        schema:
          type: string
      - name: price
        in: query
        required: true
        schema:
          type: string
      - name: quantity
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/place-single-nft-bid:
    get:
      tags:
      - Bids
      summary: Build Place Single-NFT Bid Transaction
      operationId: buildPlaceSingleNftBidTx
      parameters:
      - name: mint
        in: query
        required: true
        schema:
          type: string
      - name: bidder
        in: query
        required: true
        schema:
          type: string
      - name: price
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/place-trait-bid:
    get:
      tags:
      - Bids
      summary: Build Place Trait Bid Transaction
      operationId: buildPlaceTraitBidTx
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: bidder
        in: query
        required: true
        schema:
          type: string
      - name: trait
        in: query
        required: true
        schema:
          type: string
      - name: value
        in: query
        required: true
        schema:
          type: string
      - name: price
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/accept-bid:
    get:
      tags:
      - Bids
      summary: Build Accept Bid Transaction
      operationId: buildAcceptBidTx
      parameters:
      - name: bid
        in: query
        required: true
        schema:
          type: string
      - name: mint
        in: query
        required: true
        schema:
          type: string
      - name: seller
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/cancel-bid:
    get:
      tags:
      - Bids
      summary: Build Cancel Bid Transaction
      operationId: buildCancelBidTx
      parameters:
      - name: bid
        in: query
        required: true
        schema:
          type: string
      - name: bidder
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
components:
  schemas:
    Bid:
      $ref: ../json-schema/tensor-bid-schema.json
  responses:
    UnsignedTx:
      description: Base64-encoded unsigned Solana transaction ready for client-side signing.
      content:
        application/json:
          schema:
            type: object
            required:
            - txs
            properties:
              txs:
                type: array
                items:
                  type: object
                  required:
                  - tx
                  properties:
                    tx:
                      type: string
                      description: Base64-encoded serialized Solana versioned transaction.
                    lastValidBlockHeight:
                      type: integer
              metadata:
                type: object
                additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-tensor-api-key
x-refined-from:
- tensor-api-openapi.yml
- tensor-tx-api-openapi.yml
