openapi: 3.2.0
info:
  title: Tensor Listings API
  version: '1.0'
  contact:
    name: Tensor Developer Hub
    url: https://dev.tensor.trade
  description: 'Operations tagged Listings across 2 of this provider''s published API definitions: tensor-api-openapi.yml, tensor-tx-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.mainnet.tensordev.io
  description: Mainnet REST API
security:
- ApiKeyAuth: []
tags:
- name: Listings
paths:
  /api/v1/listings:
    get:
      tags:
      - Listings
      summary: Active Listings
      operationId: listActiveListings
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: sortBy
        in: query
        schema:
          type: string
          enum:
          - PriceAsc
          - PriceDesc
          - RankAsc
          - RankDesc
          - ListedDesc
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Active listings for the collection.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Listing'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet REST API
  /api/v1/collections/{slug}/activity:
    get:
      tags:
      - Listings
      summary: Collection Transaction History
      operationId: getCollectionActivity
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: types
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      responses:
        '200':
          description: Recent collection activity (sales
          listings: null
          delists: null
          bids).: null
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet REST API
  /api/v1/tx/list:
    get:
      tags:
      - Listings
      summary: Build List NFT Transaction
      operationId: buildListTx
      description: Construct a transaction to list an NFT, pNFT, or cNFT for sale.
      parameters:
      - name: mint
        in: query
        required: true
        schema:
          type: string
      - name: owner
        in: query
        required: true
        schema:
          type: string
      - name: price
        in: query
        required: true
        schema:
          type: string
          description: Price in lamports.
      - name: blockhash
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/edit-listing:
    get:
      tags:
      - Listings
      summary: Build Edit Listing Transaction
      operationId: buildEditListingTx
      parameters:
      - name: mint
        in: query
        required: true
        schema:
          type: string
      - name: owner
        in: query
        required: true
        schema:
          type: string
      - name: price
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/delist:
    get:
      tags:
      - Listings
      summary: Build Delist Transaction
      operationId: buildDelistTx
      parameters:
      - name: mint
        in: query
        required: true
        schema:
          type: string
      - name: owner
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
  /api/v1/tx/buy:
    get:
      tags:
      - Listings
      summary: Build Buy Transaction
      operationId: buildBuyTx
      parameters:
      - name: mint
        in: query
        required: true
        schema:
          type: string
      - name: buyer
        in: query
        required: true
        schema:
          type: string
      - name: maxPrice
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
    servers:
    - url: https://api.mainnet.tensordev.io
      description: Mainnet TX construction API
components:
  schemas:
    Listing:
      $ref: ../json-schema/tensor-listing-schema.json
  responses:
    UnsignedTx:
      description: Base64-encoded unsigned Solana transaction ready for client-side signing.
      content:
        application/json:
          schema:
            type: object
            required:
            - txs
            properties:
              txs:
                type: array
                items:
                  type: object
                  required:
                  - tx
                  properties:
                    tx:
                      type: string
                      description: Base64-encoded serialized Solana versioned transaction.
                    lastValidBlockHeight:
                      type: integer
              metadata:
                type: object
                additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-tensor-api-key
x-refined-from:
- tensor-api-openapi.yml
- tensor-tx-api-openapi.yml
