openapi: 3.1.0
info:
  title: Tensor Bids Escrow API
  version: '1.0'
  description: 'Read-only REST surface for the Tensor Solana NFT marketplace. Covers collections,

    NFT mint metadata, active listings, bids (collection / single-NFT / trait), TSwap

    and TAmm pool state, user portfolios, transaction history, royalty enforcement

    metadata, priority fee oracle, and whitelist verification.


    All endpoints require an `x-tensor-api-key` header. Request access at

    https://dev.tensor.trade and follow the Airtable signup flow linked from the

    Tensor Developer Hub.


    Operation paths in this spec are illustrative resource-oriented routes mirroring

    the published reference at https://dev.tensor.trade/reference. Consult the live

    reference for canonical request and response payload field names.

    '
  termsOfService: https://tensor.trade/legal/terms-of-service
  contact:
    name: Tensor Developer Hub
    url: https://dev.tensor.trade
  license:
    name: Proprietary
    url: https://tensor.trade/legal/terms-of-service
servers:
- url: https://api.mainnet.tensordev.io
  description: Mainnet REST API
security:
- ApiKeyAuth: []
tags:
- name: Escrow
paths:
  /api/v1/tx/escrow/deposit:
    get:
      tags:
      - Escrow
      summary: Build Shared Escrow Deposit Transaction
      operationId: buildEscrowDepositTx
      parameters:
      - name: owner
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
  /api/v1/tx/escrow/withdraw:
    get:
      tags:
      - Escrow
      summary: Build Shared Escrow Withdraw Transaction
      operationId: buildEscrowWithdrawTx
      parameters:
      - name: owner
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
components:
  responses:
    UnsignedTx:
      description: Base64-encoded unsigned Solana transaction ready for client-side signing.
      content:
        application/json:
          schema:
            type: object
            required:
            - txs
            properties:
              txs:
                type: array
                items:
                  type: object
                  required:
                  - tx
                  properties:
                    tx:
                      type: string
                      description: Base64-encoded serialized Solana versioned transaction.
                    lastValidBlockHeight:
                      type: integer
              metadata:
                type: object
                additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-tensor-api-key
