openapi: 3.2.0
info:
  title: Tensor Transaction (TX) Escrow API
  version: '1.0'
  description: 'Server-side transaction construction API that returns base64-encoded unsigned

    Solana transactions for the Tensor marketplace flows.'
  contact:
    name: Tensor Developer Hub
    url: https://dev.tensor.trade
servers:
- url: https://api.mainnet.tensordev.io
  description: Mainnet TX construction API
security:
- ApiKeyAuth: []
tags:
- name: Escrow
paths:
  /api/v1/tx/escrow/deposit:
    get:
      tags:
      - Escrow
      summary: Build Shared Escrow Deposit Transaction
      operationId: buildEscrowDepositTx
      parameters:
      - name: owner
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
  /api/v1/tx/escrow/withdraw:
    get:
      tags:
      - Escrow
      summary: Build Shared Escrow Withdraw Transaction
      operationId: buildEscrowWithdrawTx
      parameters:
      - name: owner
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UnsignedTx'
components:
  responses:
    UnsignedTx:
      description: Base64-encoded unsigned Solana transaction ready for client-side signing.
      content:
        application/json:
          schema:
            type: object
            required:
            - txs
            properties:
              txs:
                type: array
                items:
                  type: object
                  required:
                  - tx
                  properties:
                    tx:
                      type: string
                      description: Base64-encoded serialized Solana versioned transaction.
                    lastValidBlockHeight:
                      type: integer
              metadata:
                type: object
                additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-tensor-api-key
